body{
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.digit{font-size: 100px;
font-weight: bold;}

.txt{font-size: 35px;
font-weight: bold;}

#btn{text-align: center;
margin-top: 25px;}

.btn1{padding: 5px 20px;
font-size: 15px;margin: 0px 10px;
border: 0px;
cursor: pointer;
border-radius: 5px;}

#start{background-color:rgb(19, 198, 19);
color:white}

#stop{background-color:rgb(75, 75, 224);
    color:white}

 #reset{background-color:rgb(242, 23, 23);
        color:white}